.featuresSection {
  @apply container md:flex justify-between;

  .featuresImages {
    @apply relative md:mr-24;

    img:nth-child(1) {
      ::after {
        content: "";
      }
    }
    img:nth-child(2) {
      @apply object-cover absolute top-[30%] left-[-75px];
    }
    img:nth-child(3) {
      @apply object-cover  absolute top-[-80px] lg:right-[-100px] md:lg:right-[-100px] right-0 overflow-hidden;
    }
  }
}
